body {
    margin: 0;
    background-color: #27355c !important;
    font-family: 'Rubik', sans-serif !important;
}

.container {
    background-color: #27355c !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    flex-direction: row !important;
}

.nav-quiz {
    background-color: #495f9b;
    width: 140px;
    border-radius: 0.375rem 0 0 0.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-quiz img {
    height: 80px;
    margin: 24px;
}
.nav-quiz span {
    color: white;
    font-size: 20px;
    margin-top: 16px;
}

.card-content {
    width: 50vw;
    margin: 16px 10px 2px 10px;
}

.answer-letter {
    background-color: gray;
}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    margin-top: 20px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger {
    color: white !important;
}

.card-body-result {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-body-result img {
    height: 120px;
    margin-bottom: 8px;
}

.score-text {
    color: #eb9654;
    margin: 16px 0;
}

.btn-light {
    color: #173ce8 !important;
    background-color: white !important;
}

.result-img {
    position: fixed;
    right: 0;
}

.d-none {
    display: none;
}
